.container{
    width:100% !important;
    margin: 0 auto !important;
}
@font-face {
    font-family: "custom";
    src: url('/fonts/Overpass-VariableFont_wght.ttf');
}

*{
    font-family: 'custom',sans-serif;
}
.cards{
    place-content: space-around;
}
.logo{
    background-image: url('https://cdn-icons-png.flaticon.com/512/1384/1384060.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 10vh;
}
.verif{
    background-image: url(/img/1828697.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
}
.card-group{
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.card-img-top {
    max-height: 300px;
}
@media screen and (max-width:350px) {
    .card-group .card{
        
        max-width: 300px;
    }
}
